.ball-numbers {
  display: flex;
  flex-direction: column;
}

.ball-number {
  width: fit-content;
  margin: 0;
  font-size: 22px;

  &:first-child {
    font-size: 38px;
    filter: drop-shadow(1px 1px 2px black) drop-shadow(-1px -1px 2px black);
    animation: showBallNumber;
    animation-duration: 1.5s;
  }

  &:nth-child(2) {
    font-size: 28px;
    animation: secondNumberPlaceholder;
    animation-duration: 1.5s;
  }

  &:nth-child(3) {
    animation: thirdNumberPlaceholder;
    animation-duration: 1.5s;
  }

  &:nth-child(16) {
    transform-origin: top left;
    animation: hideLastNumber;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes showBallNumber {
  from,
  80% {
    line-height: 0;
    transform: translate(-480px, 360px) scale(12);
    filter: drop-shadow(1px 1px 2px black) drop-shadow(-1px -1px 2px black);
  }
}

@keyframes secondNumberPlaceholder {
  from,
  80% {
    font-size: 38px;
  }
}

@keyframes thirdNumberPlaceholder {
  from,
  80% {
    font-size: 28px;
  }
}

@keyframes hideLastNumber {
  from,
  80% {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
