.lottery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matter-container{
  width: 800px;
  height: 720px;
}

.rotate-action-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.rotate-label {
  margin: 0;
}

.rotate-speed-slider {
  width: 300px;
}
