.settings-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;
  width: 72vw;
  height: 90vh;
  padding: 16px 24px;
  background-color: #2c2c32;
}

.setting-title {
  margin: 0;
  font-size: 24px;
}

.setting-text {
  margin: 0;
}

.settings-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.setting-column-title {
  margin-bottom: 0;
}

.settings-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.setting-textarea-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.settings-footer {
  display: flex;
  justify-content: end;
}
